[wasabitv]
type = s3
provider = Wasabi
env_auth = false
access_key_id = D2YAAM0CN68SBJHC9YQ3
secret_access_key = qQBPvkEBsOWLQSHNz1pMlkZ6KCscCQ9CFCJRDsSD
endpoint = s3.us-west-1.wasabisys.com
location_constraint = s3.us-west-1.wasabisys.com
acl = private