ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwQQ1Srbtbs5snd6/QuY7BgJA4CSK+FDCBdmnH9zv2h2RGZCzTP4rTgMS42JRRHdACtETzSLis+HU2Vi9jCW1lS4aamH6u6St514Xih3m8KLa0y0DIzX8lxO3XTpoVxJgqXXk83LeBu5UbyPIxfARJPQbGMY2c3bYVt/Mq1Xl6zis682by9ROIinGAnObrGDgg04O1bC1K53uvt12NrTnqN4FFFBiT3sDv2Rx/g5obTiLGScFzgPlMvxQhvPN2od5OgqBj5NybOMgMfqKUqed6yM2p4tJNMPK1aFT385Pfvxl1woY0G0ghiFvy0mbeKF5omyVSYECcXlDJHVposleR mattcozzolino@Galactica.local
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCsb37sBUL99x7UJpozH6iIhsuzYR2qV2TUDvHxVPRV63KLopPgr0KTMfagEsuRYbnRaDKIVIQLO1OQLBrhiI4sIaB1/U+rg2zMVNa+qJXHlrpE3KX/q0NGObtZuABZ/9cVoMFKs4I0K0fXofgYsDlJvs/u8H0i6hP6nag9Edu8ZVoIzLKgPqBaRfcQp6EpknXmMbxCWnK4NIzS+4P+DAuaQS23ZIgDZKtpeT+2KsXuCpgkwVMlW2PQYyCGxboCgnroNa7XEGF5Bmrn65PuAe1xINIgcpnVneLx9++EU/w6htgm3BNrdSbQGo7D8ntEeuM1G6Q6DnkftlK9+CWWBumd mcozzo@github/34564307 # ssh-import-id gh:mcozzo
