# id_ed25519
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJM1jyPgaa46e00Wf+L2F4R5xOoiQx3yTpiEV950HCUW matt@ivoxy.com
# id_rsa
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCsb37sBUL99x7UJpozH6iIhsuzYR2qV2TUDvHxVPRV63KLopPgr0KTMfagEsuRYbnRaDKIVIQLO1OQLBrhiI4sIaB1/U+rg2zMVNa+qJXHlrpE3KX/q0NGObtZuABZ/9cVoMFKs4I0K0fXofgYsDlJvs/u8H0i6hP6nag9Edu8ZVoIzLKgPqBaRfcQp6EpknXmMbxCWnK4NIzS+4P+DAuaQS23ZIgDZKtpeT+2KsXuCpgkwVMlW2PQYyCGxboCgnroNa7XEGF5Bmrn65PuAe1xINIgcpnVneLx9++EU/w6htgm3BNrdSbQGo7D8ntEeuM1G6Q6DnkftlK9+CWWBumd matt.cozzolino@Galactica.local
