cluster:
	name = docker
	heartbeat_mode = global
	node_count = 3

heartbeat:
	cluster = docker
	region = 0DAA034E85934A29B7174797EFCBC3D9

node:
	cluster = docker
	number = 0
	ip_port = 7777
	ip_address = 10.11.14.31
	name = downloader01

node:
	cluster = docker
	number = 1
	ip_port = 7777
	ip_address = 10.11.14.32
	name = downloader02

node:
	cluster = docker
	number = 2
	ip_port = 7777
	ip_address = 10.11.14.33
	name = downloader03
