{{ item.proxy_urls | join(', ') }} {
	reverse_proxy {{ item.proxy_pass }}
	
	header {
		Strict-Transport-Security "max-age=31536000; includeSubdomains"
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "same-origin"
	}

	# Only respond to RFC1918
	# 2601:601:600:7a40:0:0:0:0/60 - camp comcast delegated supernet. 
	@denied not remote_ip private_ranges 2601:601:600:7a40:0:0:0:0/60
	abort @denied
}